<form action="/gallery/new" method="post">
  <h3>
    <label>ADD NEW PICTURE</label>
  </h3>
  <label>Author:
    <input type="text" name="author" id="">
  </label>
  <br>
  <br>
  <label>Link: 
    <input type="url" name="link" id="">
  </label>
  <br>
  <br>
  <label>Description:
    <input type="text" name="description" id="">
  </label>
  <br>
  <br>
  <label>
    <input type="submit" value="Submit">
  </label>
</form>

<br>
<br>
<a href="/gallery">Back to Gallery Home</a>

<br>
<br>
{{> footer}}