{{log}}
{{log 'start gallery.hbs'}}

<h1>Gallery:</h1>
<br>
{{#each gallery}}
<div>
  <a href="/gallery/{{id}}"><img src={{link}}></a>
</div>
{{/each}}

<br>
<br>
<a href="/gallery/new">ADD GALLERY ITEM</a>

<br>
<br>
{{> footer}}
<br>
<br>
<br>
<br>
<br>
<br>