{{log}}
{{log 'start register.hbs'}}

<div id="logoContainer">
  <a href="/" id="logo2">_ARCHITEKT</a>
</div>

<div id="dropdownPage" class="dropdown">
  <button class="dropbtn">&equiv;</button>
  <div class="dropdown-content">
    <a href="/gallery">Gallery</a>
    <a href="/about">About</a>
  </div>
</div>


<form action="/auth/register" method="post" id="form" class="authForms">
  <h3>
    <label>Make an Account</label>
  </h3>
  <img src="/assets/box.png" alt="" id="boxIcon">
  <input type="text" name="email" id="" class="inputBars" placeholder="The Email You Want to Use" required>
  <br>
  <br>
  <img src="/assets/box.png" alt="" id="boxIcon">
  <input type="password" name="password" id="" class="inputBars" placeholder="Create a Password" required>
  <br>
  <br>
  <label>
    <input type="submit" value="Submit" id="submitButton">
  </label>
</form>